Dockerfile
.dockerignore
node_modules
npm-debug.log
.next
.git
.github
*.md
.env.example

# Prune unnecessary locales to save context size and build time
# Keeping only en-US and vi-VN as requested.
locales/*
!locales/en-US
!locales/vi-VN
